{% extends 'main\layoute.html' %}

{% block title %}
    <title>{{ page_title }}</title>
{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>

    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <h3 class="mb-0">Форма для добавления новостей</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">

                        {{ form.title }}
                    </div>

                    <div class="form-group">

                        {{ form.short_description }}
                    </div>

                    <div class="form-group">

                        {{ form.text }}
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 mb-3">

                            {{ form.pub_date }}
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary w-100">Добавить новость</button>
                </form>
                <p>{{ error }}</p>

            </div>
        </div>
    </div>


{% endblock %}
