{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    {% block title %}
    {% endblock %}
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <!-- Секция с изображением и названием -->
        <aside class="col-md-3 text-center bg-light border rounded py-3">
            <img src="{% static 'main/img/chatgpt.png' %}" alt="ChatGpt logo by OpenAI" class="img-fluid" width="150px">
            <br>
            <span> О проекте  ChatGpt</span>
            {% include 'main/nav.html' %}
        </aside>

        <!-- Основной контент -->
        <main class="col-md-9">

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
     {% include 'main/footer.html' %}
</div>


<!-- Подключение JS и Popper для Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- FontAwesome for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>

</html>